header {
    border: 1px solid black;
    
}

.nav-list {
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
    list-style: none;
}

.nav-list li {
    border: 1px solid red;
}

